# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
venv/

# Editors / OS
.idea/
.vscode/
*.swp
Thumbs.db
.DS_Store

# Runtime artifacts
*.log
*.wav
*.tmp

# Project heavy local data
Fr/
models/
